@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  height: 100vh;
  width: 100vw;
}

h1 {
  color: hsl(229deg 18% 35%);
  font-size: 40px;
  padding: 0;
  margin: 0;
}

h2 {
  color: hsl(238, 23%, 30%);
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

h5 {
  color: hsl(229deg 47% 54%);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35em;
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 16px;
  padding: 20px;
  margin: 2.5em 0 3em 0;
}

.logo {
  margin-top: 8px;
  height: 75px;
}

.score {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5em;
  border-radius: 8px;
  padding: 0.5em;
}

.game {
  position: relative;
  margin-top: 5em;
}

.triangle {
  width: 200px;
}

.game > .paper {
  background-color: white;
  position: absolute;
  top: -70px;
  left: -80px;
  height: 70px;
  width: 70px;
  border: 14px solid #4d68ef;
  border-radius: 50%;
  padding: 24px;
  box-shadow: inset 0 5px rgba(0, 0, 0, 0.2), 0 5px rgba(89, 114, 243, 0.7);
  box-shadow: inset 0 5px rgba(0, 0, 0, 0.2), 0 5px rgba(58, 80, 187, 0.7);
  transition: 0.5s;
}

.game > .rock {
  background-color: white;
  position: absolute;
  bottom: -70px;
  left: 24px;
  height: 70px;
  width: 70px;
  border: 14px solid hsl(349, 71%, 52%);
  border-radius: 50%;
  padding: 30px 24px 18px 24px;
  box-shadow: inset 0 5px rgb(0 0 0 / 20%), 0 5px rgb(89 114 243 / 70%);
  box-shadow: inset 0 5px rgb(0 0 0 / 20%), 0 5px hsl(349, 77%, 32%);
  transition: 0.5s;
}

.game > .scissors {
  background-color: white;
  position: absolute;
  top: -70px;
  right: -80px;
  height: 70px;
  width: 70px;
  border: 14px solid hsl(39, 89%, 49%);
  border-radius: 50%;
  padding: 24px;
  box-shadow: inset 0 5px rgb(0 0 0 / 20%), 0 5px rgb(89 114 243 / 70%);
  box-shadow: inset 0 5px rgb(0 0 0 / 20%), 0 5px hsl(39, 89%, 33%);
  transition: 0.5s;
}

.game > .paper:hover,
.game > .rock:hover,
.game > .scissors:hover {
  height: 80px;
  width: 80px;
}

.rules {
  display: flex;
  position: absolute;
  bottom: 2em;
  right: 2em;
}

.btn-rules {
  background: none;
  color: rgb(247, 247, 247);
  height: 36px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 8px;
  padding: 8px 28px;
  transition: 0.5s;
}

.btn-rules:hover {
  background: hsl(217, 16%, 45%);
  color: hsl(237, 49%, 15%);
}

.rules-modal {
  background-color: rgb(245, 245, 245);
  position: absolute;
  top: 23%;
  border-radius: 16px;
  padding: 28px 32px;
  box-shadow: 0px 0px 500px 500px rgb(0 0 0 / 50%);
  z-index: 1;
  transform: scale(1);
	animation: grow 0.8s;
}

.rules-modal.hide {
  display: none;
}

.rules-modal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.btn-close {
  background: none;
  border: none;
}

.game.hide,
.results.hide {
  display: none;
}

.results {
  display: flex;
  align-items: center;
  gap: 60px;
}

.results-details-text {
  color: white;
  font-family: inherit;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 18px;
}

.player,
.house {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.player-choice > .paper,
.house-choice > .paper {
  background-color: white;
  height: 75px;
  width: 75px;
  border: 18px solid #4d68ef;
  border-radius: 50%;
  padding: 36px;
  box-shadow: inset 0 5px rgba(0, 0, 0, 0.2), 0 5px rgba(89, 114, 243, 0.7);
  box-shadow: inset 0 5px rgba(0, 0, 0, 0.2), 0 5px rgba(58, 80, 187, 0.7);
}

.player-choice > .rock,
.house-choice > .rock {
  background-color: white;
  height: 75px;
  width: 75px;
  border: 14px solid hsl(349, 71%, 52%);
  border-radius: 50%;
  padding: 42px 36px 30px 36px;
  box-shadow: inset 0 5px rgb(0 0 0 / 20%), 0 5px rgb(89 114 243 / 70%);
  box-shadow: inset 0 5px rgb(0 0 0 / 20%), 0 5px hsl(349, 77%, 32%);
}

.player-choice > .scissors,
.house-choice > .scissors {
  background-color: white;
  height: 75px;
  width: 75px;
  border: 14px solid hsl(39, 89%, 49%);
  border-radius: 50%;
  padding: 36px;
  box-shadow: inset 0 5px rgb(0 0 0 / 20%), 0 5px rgb(89 114 243 / 70%);
  box-shadow: inset 0 5px rgb(0 0 0 / 20%), 0 5px hsl(39, 89%, 33%);
}

.btn-play-again {
  background: none;
  color: rgb(247, 247, 247);
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 8px;
  padding: 8px 28px;
  transition: 0.5s;
}

.btn-play-again:hover {
  background-color: white;
  color: hsl(349, 71%, 52%);
  border: 2px solid hsl(0, 0%, 100%);
}

.results-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading.hide,
.results-details.hide,
.results-details.hide > .btn-play-again,
.results-details.hide > .results-details-text {
  display: none;
}

.loading {
  background: rgba(0,0,0,0.2);
	border-radius: 50%;
	height: 123px;
	width: 123px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	margin: 30px;
	transform: scale(1);
	animation: pulse 2s infinite;
}

.player-choice.winner > .scissors,
.player-choice.winner > .paper,
.player-choice.winner > .rock,
.house-choice.winner > .scissors,
.house-choice.winner > .paper,
.house-choice.winner > .rock {
  box-shadow: 0 0 0 0 rgba(180, 180, 180, 1), 0 0 0 0 rgba(180, 180, 180, 1);
	transform: scale(1);
	animation: pulse-winner 2s infinite;
}

.house-choice > .rock,
.house-choice > .scissors,
.house-choice > .paper {
  transform: scale(1);
	animation: grow 0.8s;
}

.results-details-text,
.btn-play-again {
  transform: scale(1);
	animation: grow 0.8s;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
	}
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
	}
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes pulse-winner {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(180, 180, 180, 0.6), 0 0 0 0 rgba(180, 180, 180, 0.4), 0 0 0 0 rgba(180, 180, 180, 0.2);
	}
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 50px rgba(180, 180, 180, 0), 0 0 0 100px rgba(180, 180, 180, 0), 0 0 0 150px rgba(180, 180, 180, 0);
	}
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(180, 180, 180, 0), 0 0 0 0 rgba(180, 180, 180, 0), 0 0 0 0 rgba(180, 180, 180, 0);
	}
}

@keyframes grow {
	0% {
		transform: scale(0);
	}
  100% {
		transform: scale(1);
	}
}

@media only screen and (max-width: 530px) {
  h1 {
    font-size: 30px;
  }
  .header {
    width: 18em;
    border-radius: 8px;
    padding: 14px;
  }
  .logo {
    height: 55px;
  }
  .score {
    width: 4em;
    border-radius: 4px;
  }
  .triangle {
    width: 175px;
  }
  .game > .paper {
    top: -60px;
    left: -60px;
    height: 40px;
    width: 40px;
  }
  .game > .rock {
    bottom: -50px;
    left: 28px;
    height: 40px;
    width: 40px;
  }
  .game > .scissors {
    top: -60px;
    right: -60px;
    height: 40px;
    width: 40px;
  }
  .game > .paper:hover,
  .game > .rock:hover,
  .game > .scissors:hover {
    height: 50px;
    width: 50px;
  }
  .rules {
    justify-content: center;
    position: revert;
    margin-top: 7em;
  }
  .results {
    position: relative;
    gap: 1.5em;
    margin-bottom: 3.5em;
  }
  .player, .house {
    flex-flow: column-reverse;
  }
  .player-choice > .paper,
  .house-choice > .paper,
  .player-choice > .scissors,
  .house-choice > .scissors {
    height: 50px;
    width: 50px;
    padding: 20px;
  }
  .player-choice > .rock,
  .house-choice > .rock {
    height: 50px;
    width: 50px;
    padding: 24px 20px 16px 20px;
  }
  .loading {
    height: 55px;
    width: 55px;
  }
  .results-details {
    position: absolute;
    bottom: -9em;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .results-details-text {
    font-size: 28px;
  }
  .btn-play-again {
    background: rgb(247, 247, 247);
    color: hsl(238, 23%, 30%);
    border: 2px solid rgb(247, 247, 247);
    padding: 12px 24px;
    transition: 0.5s;
  }
  @keyframes pulse-winner {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(180, 180, 180, 0.6), 0 0 0 0 rgba(180, 180, 180, 0.4), 0 0 0 0 rgba(180, 180, 180, 0.2);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 20px rgba(180, 180, 180, 0), 0 0 0 40px rgba(180, 180, 180, 0), 0 0 0 60px rgba(180, 180, 180, 0);
    }
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(180, 180, 180, 0), 0 0 0 0 rgba(180, 180, 180, 0), 0 0 0 0 rgba(180, 180, 180, 0);
    }
  }
}

@media only screen and (min-width: 531px) and (max-width: 680px) {
  .header {
    width: 25em;
  }
  .results {
    gap: 1.5em;
  }
  .player-choice > .paper,
  .house-choice > .paper,
  .player-choice > .scissors,
  .house-choice > .scissors {
    height: 50px;
    width: 50px;
    padding: 36px;
  }
  .player-choice > .rock,
  .house-choice > .rock {
    height: 50px;
    width: 50px;
    padding: 42px 36px 30px 36px;
  }
  .loading {
    height: 87px;
    width: 87px;
  }
  .results-details-text {
    font-size: 28px;
  }
  @keyframes pulse-winner {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(180, 180, 180, 0.6), 0 0 0 0 rgba(180, 180, 180, 0.4), 0 0 0 0 rgba(180, 180, 180, 0.2);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 20px rgba(180, 180, 180, 0), 0 0 0 40px rgba(180, 180, 180, 0), 0 0 0 60px rgba(180, 180, 180, 0);
    }
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(180, 180, 180, 0), 0 0 0 0 rgba(180, 180, 180, 0), 0 0 0 0 rgba(180, 180, 180, 0);
    }
  }
}
